html,body{height:100%;padding:0;margin:0; width: 100%;-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;}
.container{overflow:hidden;border-radius:2px}
.container .toolbar{position:fixed;top:20px;right:5%;}
.container .toolbar .element{float:left;}
.container .toolbar .element .caption{transition:color .6s ease-in-out;margin-top:-20px;color:#383838;font-size:11px;font-weight:200;text-transform:lowercase}
.container .toolbar .element text{transition:fill .6s ease-in-out;font-family:"Tahoma" monospace;fill:#7C5A97;font-size:20px}
.container .toolbar .healthbar .bar-background{fill: #7C377D}
.container .toolbar .healthbar .bar-health{fill:#A349A4}
.container .toolbar .healthbar .label{text-anchor:middle;fill:white;font-size:11px;font-family: Arial;font-weight: bold}
.container .modal{transition:color .6s ease-in-out;position:fixed;top:100px;right:5%;color:#333;width:240px;height:320px;overflow:hidden}
.container .modal button{transition:all .1s ease-in-out;cursor:pointer;display:block;width:100%;padding:10px;border:none;color:#fff;background-color:#A349A4;border-radius:4px;font-size:20px}
.container .modal button:active,.container .modal button:focus{outline:none}
.container .modal button:hover{background-color:#616161}
.container .modal button:active{box-shadow:inset 1px 2px 1px rgba(0,0,0,0.1)}
.container .modal a{text-decoration:none;color:dodgerblue}
.container .modal a:hover{text-decoration:underline}
.container .modal table{transition:color .6s ease-in-out; background: rgba(97,97,97,0.1);border:1px dashed #gray; border-radius: 2px;margin-top:10px; padding:5px;}
.container .modal table td{padding:5px;}
.container .modal table tr>td:first-child{}
.container .modal .hotkey{transition:color .6s ease-in-out; background: rgba(124,55,126,0.3);border-radius:2px;border:1px solid gray;padding:4px 5px;font-family: Arial;font-size:12px}
.container .main{transition:background .6s ease-in-out}
.container .main .bg-circle{transition:fill .6s ease-in-out;fill:#999;stroke:none}
.container .main text{font-family:"Arial" monospace;stroke:none;fill:#E74C3C}
.container .main .game-over{text-anchor:middle;font-size:30px;fill:#000;opacity:0.1}
.container .main .blue .lg{fill:cornflowerblue}
.container .main .purple .lg{fill:mediumslateblue}
.container .main .marine .lg{fill:mediumaquamarine}
.container .main .sm{fill:rgba(0,0,0,0.1)}
.container.dark .element text{fill:gray}
.container.dark .color-theme{background:white}
.container.dark .modal{color:black}
.container.dark .modal .hotkey{color:black}
.container.dark .main{background: #abd0d6 }
.container.dark .main .bg-circle{fill:whitesmoke}
.container.dark text{fill:purple}
.cannon .body{opacity:0;stroke-width:1;stroke:lightsteelblue;fill:#1ECD97}
.red{stroke-width:4;stroke:red;fill:none}
.orange{fill:orange;stroke:none}
.warhead{opacity:1;fill:coral}
.cannon line{opacity:0;stroke:#1ECD97;stroke-width:8}
.rocket #exhaust{opacity:0}
.footer{padding:10px;font-size:12px}

.container .modal2{transition:color .6s ease-in-out;position:fixed; display: none; top:35%; right: 42%;color:#333;width:240px;height:320px;overflow:hidden}
.container .modal2 a{text-decoration:none;color:dodgerblue}
.container .modal2 a:hover{text-decoration:underline}
.container .modal2 table{transition:color .6s ease-in-out; background: rgba(97,97,97,0.1);border:1px dashed #gray; border-radius: 2px;margin-top:10px; padding:5px;}
.container .modal2 table td{padding:5px;}
.container .modal2 table tr>td:first-child{}